# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# clang-format backup files
*.cpp.orig
*.h.orig

# QtCreator config
*.txt.user

# KDevelop 4 config
*.kdev4
.kdev4/

# build directories
arangodbcpp/build/
arangodbcpp/test/BasicTests/build/
arangodbcpp/test/ColTests/build/
arangodbcpp/test/DocTests/build/
